@{
    var feedback = Model.feedback;
    var doctor = Model.doctor;

}










@using (Html.BeginForm("AddFeedback", "DoctorsInfo"))
{
    <div class="form-group">
        <label>Review</label>
        <div class="star-rating">
            <input id="star-5" type="radio" name="rating" value="5">
            <label for="star-5" title="5 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-4" type="radio" name="rating" value="4">
            <label for="star-4" title="4 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-3" type="radio" name="rating" value="3">
            <label for="star-3" title="3 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-2" type="radio" name="rating" value="2">
            <label for="star-2" title="2 stars">
                <i class="active fa fa-star"></i>
            </label>
            <input id="star-1" type="radio" name="rating" value="1">
            <label for="star-1" title="1 star">
                <i class="active fa fa-star"></i>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>Title of your review</label>
        <input class="form-control" type="text"
               placeholder="If you could say it in one sentence, what would you say?" name="title">
    </div>
    <div class="form-group">
        <label>Your review</label>
        <textarea id="review_desc" maxlength="100" class="form-control" name="yourfeedback"></textarea>

        <div class="d-flex justify-content-between mt-3">
            <small class="text-muted">
                <span id="chars">100</span> characters
                remaining
            </small>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="terms-accept">
            <div class="custom-checkbox">
                <input type="checkbox" id="terms_accept">
                <label for="terms_accept">
                    I have read and accept <a href="#">
                        Terms
                        &amp; Conditions
                    </a>
                </label>
            </div>
        </div>
    </div>
    <div class="submit-section">

        <button type="submit" style="background-color: #20BBBD" class="btn btn-primary submit-btn" name="ADD">Add Review</button>
        <input type="hidden" name="doctorId" value="@Model.doctor.Id">
    </div>
}