
@{
    ViewBag.Title = "Aboutt";
    Layout = "~/Views/Shared/_masterpiecelayout.cshtml";
}

<!--Page Title-->
@*<section class="page-title text-center" style="background-image: url(~/Content/images/3.jpg);">
        <div class="container">
            <div class="title-text">
                <h1>about us</h1>
                <ul class="title-menu clearfix">
                    <li>
                        <a href="index.html">home &nbsp;/</a>
                    </li>
                    <li>about us</li>
                </ul>
            </div>
        </div>
    </section>*@
@RenderPage("~/Views/Shared/_feedback.cshtml")
<!--End Page Title-->
<!-- Our Story -->
<!--<section class="story">
    <div class="">-->
@*<div class="explore " style="margin:0 auto">
        <div class="first" style="margin:0 auto"><p class="ff" style="margin:0 auto;margin-bottom:50px;">Our Story</p></div>



    </div>*@
<!--<h1 style="text-align:center;align-items:center;font-size:40PX;margin-bottom:70PX">Our Story </h1>

<div class="row" style="display:flex;justify-content:center;flex-wrap:wrap;align-items:center;margin:0 ;margin-left:100px;">
    <div class="col-md-6">
        <img src="~/Content/images/psych12.png" class="responsive" alt="story" style="width:600PX;">
    </div>
    <div class="col-md-6">
        <div class="story-content" style="width: 60%; margin: 0 auto">-->
@*<h2>Our Story</h2>*@
@*<h5 class="tagline">
    "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, minima."</h6>*@
<!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam ducimus est vero, officiis, placeat optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam nesciunt fugit optio illum aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda, est quam perferendis expedita autem?</p>
                    <h6>Mission</h6>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam nihil dolorum beatae consequatur mollitia iure?</p>
                    <h6>Vision</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda consectetur adipisci, voluptatum dolores nostrum omnis.</p>
                </div>
            </div>
        </div>
    </div>
</section>-->
@*STORY*@


<style>

    .box1:hover {
        height: 600px;
    }
</style>
<h1 style="text-align:center;align-items:center;font-size:40PX;margin-bottom:70PX;margin-top:70PX">Our Story </h1>
<div class="alll" style="margin-bottom:100PX">

    <div class="rightt">

        <img src="/Content/images/psych12.png" width="600" class="sup" style="align-items:center" />
    </div>
    <div class="parag">


        <p class="our">
            About us
        </p>
        <div class="two">
            <div class="ic">




            </div>


            <p class="team">

                Our website is dedicated to providing resources and information for seniors and their caregivers.
            </p>

            <p class="team">


                We are constantly updating and adding new information and resources to our site, so be sure to check back often to see what's new.
            </p>

            <p class="team">


                We are constantly updating and adding new information and resources to our site, so be sure to check back often to see what's new.
            </p>


        </div>




    </div>



</div>




@*STORY*@


<!-- Promo Video -->
<section class="promo-video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block text-center">
                    <h6>About Our Website</h6>

                    <a data-fancybox href=" https://www.youtube.com/watch?v=vo4pMVb0R6M;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fa fa-play"></i></a>

                    @*<a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fa fa-play"></i></a>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3>
                        Key Benefits of Finding Peace

                    </h3>
                    <p>
                        Leverage agile frameworks to provide a robust synopsis for high level overv-
                        <br>iews. Iterative approaches to corporate strategy...
                    </p>
                </div>
            </div>
            @*111111111111111111111111111*@
            <div class="col-md-3 col-sm-6">
                @*individual*@

                <div class="gallery-item">

                    <div class="box1 img-responsive" style="height:435px;">
                        <h4 style="padding-top:40px;">Individual therapy</h4>
                        <img style="margin-bottom:-10px" src="~/Content/images/m1.png" width="200" alt="covering" />


                        <i style="font-size:50px;color:black;margin-bottom:20px" class="fa fa-play"></i>

                        <p class="osama" style="color:black;text-align:center;margin-left:-20px;margin-bottom:-20px;">

                            form of psychological treatment that involves working one-on-one with a therapist to address personal challenges.
                            you will have the opportunity to discuss your thoughts, feelings, and experiences in a safe and confidential setting.
                        </p>


                    </div>


                    @*<img src="~/Content/images/gallery/gallery-01.jpg" class="img-responsive" alt="gallery-image">*@
                    <a data-fancybox href=" https://www.youtube.com/watch?v=vo4pMVb0R6M;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"></a>
                    @*<a data-fancybox="~/Content/images" href="~/Content/images/gallery/gallery-01.jpg"></a>*@
                    @*<h3> Save time and effort</h3>*@
                    @*<p>

                    Get your session online. No waiting lists, no transportation hassles
                </p>*@
                </div>
            </div>

            @*11111111111111111111111111111111111111111111111111111111111*@

            @*22222222222222222222222222222222222222222222*@
            <div class="col-md-3 col-sm-6">
                @*individual*@

                <div class="gallery-item">

                    <div class="box1 img-responsive" style="height:435px;">
                        <h4 style="padding-top:40px;">Family therapy</h4>
                        <img style="margin-bottom:-10px" src="~/Content/images/m2.png" width="200" alt="covering" />


                        <i style="font-size:50px;color:black;margin-bottom:20px" class="fa fa-play"></i>

                        <p class="osama" style="color:black;text-align:center;margin-left:-20px;margin-bottom:-20px;">
                            type of therapy that focuses on the dynamics and relationships within a family unit.
                            It can be useful for families dealing with issues such as parenting challenges, sibling rivalry,increased feelings of connectedness and satisfaction within the family and family dynamics.
                        </p>


                    </div>


                    @*<img src="~/Content/images/gallery/gallery-01.jpg" class="img-responsive" alt="gallery-image">*@
                    <a data-fancybox href=" https://www.youtube.com/watch?v=vo4pMVb0R6M;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"></a>
                    @*<a data-fancybox="~/Content/images" href="~/Content/images/gallery/gallery-01.jpg"></a>*@
                    @*<h3> Save time and effort</h3>*@
                    @*<p>

                    Get your session online. No waiting lists, no transportation hassles
                </p>*@
                </div>
            </div>

            @*22222222222222222 finish*@
            @*333333333333333333 start*@
            <div class="col-md-3 col-sm-6">
                @*individual*@

                <div class="gallery-item">

                    <div class="box1 img-responsive" style="height:435px;">
                        <h4 style="padding-top:40px;">Couple therapy</h4>
                        <img style="margin-bottom:-10px" src="~/Content/images/m3.png" width="200" alt="covering" />


                        <i style="font-size:50px;color:black;margin-bottom:20px" class="fa fa-play"></i>

                        <p class="osama" style="color:black;text-align:center;margin-left:-20px;margin-bottom:-20px;">

                            It can be helpful for couples who are experiencing conflicts, communication problems, or changes in their relationship.
                            Through a variety of techniques such as communication exercises, problem-solving activities.
                        </p>


                    </div>


                    @*<img src="~/Content/images/gallery/gallery-01.jpg" class="img-responsive" alt="gallery-image">*@
                    <a data-fancybox href=" https://www.youtube.com/watch?v=vo4pMVb0R6M;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"></a>
                    @*<a data-fancybox="~/Content/images" href="~/Content/images/gallery/gallery-01.jpg"></a>*@
                    @*<h3> Save time and effort</h3>*@
                    @*<p>

                    Get your session online. No waiting lists, no transportation hassles
                </p>*@
                </div>
            </div>

            @*3333333333333333333333333 finish*@
            @*44444444444444444444444444444444 start*@
            <div class="col-md-3 col-sm-6">
                @*individual*@

                <div class="gallery-item">

                    <div class="box1 img-responsive" style="height:435px;">
                        <h4 style="padding-top:40px;">Conselling therapy</h4>
                        <img style="margin-bottom:-10px" src="~/Content/images/m4.png" width="200" alt="covering" />


                        <i style="font-size:50px;color:black;margin-bottom:20px" class="fa fa-play"></i>

                        <p class="osama" style="color:black;text-align:center;margin-left:-20px;margin-bottom:-20px;">

                            It is often a short-term treatment that focuses on specific problems and aims to provide the individual with coping strategies and skills to improve their overall mental well-being. A trained counselor or psychologist works with the individual to identify and address .
                        </p>


                    </div>


                    @*<img src="~/Content/images/gallery/gallery-01.jpg" class="img-responsive" alt="gallery-image">*@
                    <a data-fancybox href=" https://www.youtube.com/watch?v=vo4pMVb0R6M;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"></a>
                    @*<a data-fancybox="~/Content/images" href="~/Content/images/gallery/gallery-01.jpg"></a>*@
                    @*<h3> Save time and effort</h3>*@
                    @*<p>

                    Get your session online. No waiting lists, no transportation hassles
                </p>*@
                </div>
            </div>

            @*444444444444444444444444444 finish*@


        </div>
    </div>
</section>

<section class="testimonial-section" style="background: url(~/Content/images/testimonials/1.jpg); margin-top: 100px;margin-bottom:100PX ">
    <div class="container">
        <div class="section-title text-center">
            <h3 style="color:black">
                What Our
                Patients Says
            </h3>
        </div>
        <div class="testimonial-carousel">
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/3.png" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/1.png" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="~/Content/images/testimonials/2.png" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                </div>
            </div>
            <!--Slide Item-->
            @*<div class="slide-item">
                    <div class="inner-box text-center">
                        <div class="~/Content/image-box">
                            <figure>
                                <img src="~/Content/images/testimonials/3.png" alt="">
                            </figure>
                        </div>
                        <h6>Amy Adams</h6>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia consectetur, dolor sit amet, consectetur, numquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, at?</p>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!--End testimonial-section-->
<!-- Contact Section -->
