



@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_feedback</title>

    @*<link rel="stylesheet" href="~/temp/lawride-master/vendors/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="~/temp/lawride-master/vendors/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="~/temp/lawride-master/vendors/themify-icons/themify-icons.css">
        <link rel="stylesheet" href="~/temp/lawride-master/vendors/linericon/style.css">
        <link rel="stylesheet" href="~/temp/lawride-master/vendors/owl-carousel/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/temp/lawride-master/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="~/temp/lawride-master/vendors/Magnific-Popup/magnific-popup.css">*@

    <link rel="stylesheet" href="~/temp/lawride-master/css/style.css">
    <style>
        .nav__link a {
            text-decoration: none;
            color: black;
        }

        #please {
            background-image: url('../../content/images/psych11.png') !important;
        }
    </style>
</head>
<body>
    <div>
        <!--================ Hero sm Banner start =================-->
        <section class="hero-banner hero-banner--sm" id="please">
            <div class="hero-banner__content text-center">
                <h1>Contact Us</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="https://localhost:44388/mainHome/Index">Home</a></li>

                        <li class="breadcrumb-item active" aria-current="page"><a href="https://localhost:44388/mainHome/About">Contact Us</a></li>
                        @*<li class="breadcrumb-item active" aria-current="page">About Us</li>*@
                    </ol>
                </nav>
            </div>
        </section>
        <!--================ Hero sm Banner end =================-->
        <!--================ Testimonial section end =================-->
    </div>

    @*<script src="~/temp/lawride-master/vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="~/temp/lawride-master/vendors/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="~/temp/lawride-master/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="~/temp/lawride-master/vendors/Magnific-Popup/jquery.magnific-popup.min.js"></script>
        <script src="~/temp/lawride-master/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/temp/lawride-master/js/mail-script.js"></script>
        <script src="~/temp/lawride-master/js/main.js"></script>*@
</body>
</html>


