
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/css/navbar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>NAV</title>
    <script src="https://kit.fontawesome.com/a8b56cb52b.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/doc/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/doc/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/doc/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/doc/assets/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->

</head>
<body>
    @*nav*@

    <div>

        <!--Main Header-->
        <header>

            <nav class="nav1" id="navbar">

                @*<img src="~/Content/images/logo.png" width="0" alt="logo" style="padding:0px !important;margin-left:50px !important" />*@
                <div class="empty" style="height:50px">
                    <img src="~/Content/images/logo.png" style="height: 50px; padding: 0; margin: 0;" />
                </div>
                <div class="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>

                <div class="nav__link hide">
                    <a href="https://localhost:44388/mainHome/Index">home</a>
                    <a href="https://localhost:44388/mainHome/Aboutt">about</a>
                    <a href="https://localhost:44388/mainHome/ConTact">contact</a>
                    <a href="https://localhost:44388/Doctors/singledoctor">therapist list</a>
                    <a href="#">psycologist list</a>
                    <a href="#">log out</a>
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </div>
            </nav>
        </header>
        <!--End Main Header -->


    </div>

    @*nav*@
</body>
</html>
